<template name="patternsbg">

	<header id="page_header">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h1>Css background</h1>
				</div>
				<div class="col-xs-4">
					<div class="action pull-right">
						<span id="stairs" class="btn btn-sm btn-success">Stairs</span>
						<span id="half-rombes" class="btn btn-sm btn-info">Half Rombes</span>
						<span id="arrows" class="btn btn-sm btn-danger">Arrows</span>
						<span id="def" class="btn btn-sm btn-default">Def</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section-main {{appConf}}">
	    <div class="container container-main">
		    <h1>Navbar example</h1>
		    <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	    </div>
	</section>

</template>
