<template name="table">

	<header id="page_header">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h1>Table</h1>
				</div>
				<div class="col-xs-4">
					<div class="action pull-right">
						<span id="table-grey" type="button" class="btn btn-sm btn-success">grey</span>
						<span id="table-blue" type="button" class="btn btn-sm btn-info">blue</span>
						<span id="table-red" type="button" class="btn btn-sm btn-danger">red</span>
						<span id="table-def" type="button" class="btn btn-sm btn-default">default</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="section-main {{appConf}}">
		<div class="container container-main">

			<section>
				<h2>Kurczaki</h2>
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>American Chicken</th>
						<th>French Connection</th>
						<th>Age (months)</th>
						<th>Weights (lbs.)</th>
						<th>Cooking Methods</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Squab</td>
						<td>Poussin</td>
						<td>2</td>
						<td>3/4 to 1</td>
						<td>Broil, Grill, Roast</td>
					</tr>
					<tr>
						<td>Broiler</td>
						<td>Poulet Nouveau</td>
						<td>2 to 3</td>
						<td>1 1/2 to 2 1/2</td>
						<td>Broil, Grill, Roast</td>
					</tr>
					<tr>
						<td>Fryer</td>
						<td>Poulet Reine</td>
						<td>3 to 5</td>
						<td>2 to 3</td>
						<td>Fry, Saute, Roast</td>
					</tr>
					<tr>
						<td>Roaster</td>
						<td>Poularde</td>
						<td>5 1/2 to 9</td>
						<td>Over 3</td>
						<td>Stew, Fricassee</td>
					</tr>
					<tr>
						<td>Fowl</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td>Rooster</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>XVI w.</h2>
				<table class="table table-bordered">
					<tbody>
					<tr>
						<td>England</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td>Germany</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td>France</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>Populacja</h2>
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>Year</th>
						<th>World Population</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>8000 B.C.</td>
						<td>...</td>
					</tr>
					<tr>
						<td>50 A.D.</td>
						<td>...</td>
					</tr>
					<tr>
						<td>1650 A.D.</td>
						<td>...</td>
					</tr>
					<tr>
						<td>1850 A.D.</td>
						<td>...</td>
					</tr>
					<tr>
						<td>1945 A.D.</td>
						<td>...</td>
					</tr>
					<tr>
						<td>1980 A.D.</td>
						<td>...</td>
					</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>Worksheet</h2>
			</section>

			<section>
				<h2>AT&T</h2>
			</section>

			<section>
				<h2>Chart</h2>
			</section>
		</div>
	</section>

</template>